*{ 
  box-sizing: border-box;
}

.light{
  background-color: white;
  color: black
}

.dark{
  background-color: rgb(37, 36, 36);
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  border-bottom: solid black;
  padding: 5px;
}

.redTheme{
  background-color: red;
  color: white;
  border: solid, black, 1px;
}

.blueTheme{
  background-Color: lightBlue;
  color: black;
  border: solid, black, 1px;
}

.favMovies{
  border: 2px solid black;
  height: fit-content;
  width: 50vw;
  color: blue
}