body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  display: flex;
  background: linear-gradient(to right, rgb(103,34,128), rgb(166,38,211));
  height: 15vh;
  width: 100%;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
}
  

.head{
  display: flex;
  color: #fff;
  padding: 0;
  align-items: center;
  width: 100%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.troll{
  height: 70px;
  margin-left: 15%;
  
}

.reactText{
  margin-left: auto;
  margin-right: 15%;
}

.memeText{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  
}

.inputs{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.formGroup{
  display: flex;
  flex-direction: column;
  width: 30vw;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bottomInput{
  height: 45px;
  font-size: 3vw;
  width: 100%;
  margin-bottom: 20px;
}

.topInput{
  height: 45px;
  font-size: 3vw;
  margin-bottom: 20px;
}

input{
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  text-indent: 5px;
}

.label{
  margin-bottom: 10px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
  font-size: 3.5vw;
}

button{
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, rgb(103,34,128), rgb(166,38,211));
  color: white;
  border-radius: 8px;
  height: 7vh;
}

.memeImage {
  max-width: 100%;
  height: 50vh;
  border-radius: 3px;
 
}


.memeBox {
  position: relative;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  
}

.topText {
  top: 10px; 
}

.bottomText {
  bottom: 10px; 
}

.topText, .bottomText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}

.SAVEDtopText, .SAVEDbottomText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}

.SAVEDtopText {
 top: 10px;
}

.SAVEDbottomText {
  bottom: 70px; 
}

.SAVEDmeme{
    position: relative;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
  }
    
